body {
    font-size: 18px;
    font-family: "Lucida Grande", Helvetica, sans-serif;
    padding: 50px;
    color: rgb(30,28,27);
}
table { font-size: 18px; }

div#main {
    margin: 0 auto;
    width: 75%;
}

a, a:visited { color: #282ffc; }
a:hover { background-color: #ffff93; }
