body {
    font-size: 18px;
    font-family: sans-serif;
    padding: 0 50px 50px 50px;
    color: #222;
}
table { font-size: 18px; }
table#contact td:first-child { font-weight: bold; padding-right: 15px; }

div#main {
    margin: 0 auto;
    width: 70%;
    max-width: 900px;
}

a,a:visited { color: #dc143c; } /* crimson */
a:hover { background-color: #ffe566; } /* gold */
